@media (min-width: 360px){
	
}

@media (min-width: 576px){
	.section--dev{
		background-position: center 60%;
		background-size: contain;
		background-repeat: no-repeat;
		background-image:  url("../img/comp.png");
	}
	// .section__offers{
	// 	right: -30px;
		
	// }
		
	.section__offer{
		font-size: 35px;
		padding-top: 170px;
		// width: 480px;
		// height: 480px;
		// padding-top: 200px;
		// & span{
		// 	display: inline;
		// }
	}
	.section__facility--block{
		display: inline-block;
		width: 47%;
		vertical-align: top;
		//max-width: 48%;
		.section__subtitle{
			min-height: 50px;
		}
	}
	.section__choose--tv{
		width: 100%;
	}
	.section--about{
		.section__wrap{
			display: inline-block;
			vertical-align: top;
			width: 45%;
		}
		.section__wrapper{
			display: inline-block;
			vertical-align: top;
			width: 45%;
			margin: 60px 0;
		}
	}
	
}
@media (min-width: 600px){
	.section__choose--pos{
		min-width: 270px;
		max-width: 300px;
		span{
			display: block;
			max-width: 200px;
			font-size: 14px;
		}
	}
}
@media (min-width: 786px) {	
	.section--dev{
		background-size: 1000px;
		background-position: center 75%;
	}
	.container{
		width: 96%;
		margin: 0 auto;
		padding: 0;
	}
	.header{
		& nav{
			display: inline-block;
			vertical-align: middle;
			margin-left: 40px;
			& .header__fullnav{
				margin: 0;
				padding: 0;
				& li{
					display: inline-block;
					vertical-align: middle;
					& a{
						text-decoration: none;
						text-transform: uppercase;
						color: #323e4d;
						font: 700 12px/1 'Lato', sans-serif;
						//padding-top: 10px;
						transition: all .25s ease;
						&:hover,
						&:focus,
						&:active{
							text-decoration: underline;
						}
					}
					&:not(:first-of-type){
						margin-left: 10px;
					}
				}
			}
		}
		.open{
			display: none;
		}
		.phone-toggler{
			right: 30px;
		}	
		.section__subtitle{
			min-height: 25px;
		}	
	}
	
	 .section__offers{
	 	top: -70px;
	 }
	 .section__offer{
	 	font-size: 54px;
		width: 480px;
		height: 480px;
		padding-top: 200px;
		& span{
			display: inline;
		}
	}
	
	.section--tv{
		.section__wrap{
			display: inline-block;
			vertical-align: top;
			width: 30%;
			&:not(:first-of-type){
				margin-left: 4%;
			}
		}
		
	}
	
	.section--about{
		.section__wrap{
			width: 30%;
			text-align: left;
			&:first-of-type{
				margin-left: 5%;
			}
		}
		.section__wrapper{
			display: block;
			//width: 45%;
			margin: 60px auto;
		}
	}
}
@media (min-width: 830px) {
	.header{
		& nav{
			margin-left: 70px;
		}
	}
}
@media (min-width: 992px) {
	.header{
		.container{
			padding: 15px 0;
		}
		nav{
			margin-left: 100px;
			& .header__fullnav li a::not(:first-of-type){
				margin-left: 20px;
			}
		}
		.phone-toggler{
			display: none;
		}
		&__phone{
			display: inline-block;
			color: #fff;
			font: 700 12px/1 'Lato', sans-serif;
			text-decoration: none;
			text-align: right;
			margin-left: 80px;
			width: 160px;

			transition: all .25s ease;
			& img,
			& span{
				display: inline-block;
				vertical-align: middle;
			}
			&:hover,
			&:focus,
			&:active{
				color: #323e4d;
			}
		}
	}
	
	.section__choose--pos{
		span{
			display: inline;

		}
	}
	.section__facility--block{
		width: 31%;
		vertical-align: top;
		.section__subtitle{
			min-height: 50px;
		}
	}
	.section__facility--btn{
		display: inline-block;
		width: 31%;
		vertical-align: middle;
		min-height: 350px;
		padding-top: 15%;
		.section__choose--tv{
			display: inline-block;
			min-width: 60%;
			max-width: 70%;
		}
	}
	.footer {
		& .container{
			flex-direction: row;
		}
		&__right{
		padding: 0 30px;
		}
	}
	.section--dev .section__choose--pos{
		min-width: 420px;
		max-width: 440px;
	}
}
@media (min-width: 1120px) {
	.container {
		min-width: 1050px;
		max-width: 1120px;
		width: 96%;
		margin: 0 auto;
	}
	.header{
		& nav {
			margin-left: 40px;
			& .header__fullnav li a{
				font-size: 17px;
			}
		}
		& .header__phone{
			font-size: 18px;
			width: 190px;
			margin-left: calc(100%-1086px);
		}
	}
	.section__facility--block .section__subtitle{
		min-height: 25px;
	}
	.section--about{
		.section__wrap{
			width: 22%;
		}
		.section__wrapper{
			display: inline-block;
			vertical-align: top;
			width: 23%;
			margin: 60px 0;
		}
	}
}
